.PageHead {
  font-family: Comic Sans MS;
  text-align: center;
}

.sidebar {
  text-align: center;
  margin: auto;
  padding: 0rem;
}

body {
  background-color: darkslategrey;
}

.AboutMe {
  margin-left: 1rem;
}