.PageHead {
  font-family: Comic Sans MS;
  text-align: center;
}

.sidebar {
  text-align: center;
}

.AboutMe {
  margin-left: 1rem;
  padding: 1rem;
}

.AboutMeSubhead {
 margin-left: 1rem;
 padding: 2rem;
}

.AboutMeText {
margin-left: 2rem;
}

body {
  background-color: darkslategrey;
}

.Projects {
  margin: .10rem;
}