.PageHead {
  font-family: Comic Sans MS;
  text-align: center;
}

.sidebar {
  margin: .10rem;
}

.AboutMe {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #e9ecef;
}

.AboutMe img {
  width: 5%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

.AboutMe p {
  float: left;
}

.AboutMe h2 {
  float: left;
}

.AboutMeSubhead {
 margin-left: 1rem;
 padding: 2.75rem;
}

.AboutMeText {
margin-left: 2rem;
}

body {
  background-color: darkslategrey;
}

.Project {
  margin: .10rem;
}

.Project  h1 {
  margin-bottom: 2rem;
}

.Project a {
  margin-left: 1rem;
}

.Project p {
  margin: 1rem;
}


.ProjectItem {
  float: left;
}

.Drip {
  border: 10px solid blueviolet;
  border-color: blueviolet;
}

.Redacted {
  font-weight: bolder;
}